groq
langchain
langchain-community
langchain-openai
langchain-core
langchain-text-splitters
faiss-cpu
pypdf
fastapi
uvicorn
python-dotenv
python-multipart
tiktoken
sqlmodel
psycopg2-binary
bcrypt==4.0.1
passlib[bcrypt]==1.7.4
python-jose[cryptography]
supabase==1.0.4