groq
langchain
langchain-community
langchain-core
sentence-transformers
faiss-cpu
pypdf
fastapi
uvicorn
python-dotenv
python-multipart
tiktoken
langchain-text-splitters
sqlmodel
psycopg2-binary
bcrypt==4.0.1
passlib[bcrypt]==1.7.4
python-jose[cryptography]